html, body, #root {
  height: 100vh;
  width: 100vw;
}

p {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Roboto' , sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: none;
}

textarea, [type="date"], [type="time"] {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

input {
  transition: all .1s;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
