.container {
    display: grid;
    grid-template-areas:
        "charts . ."
        ". . ."
        "task task task"
    ;
    grid-template-columns: auto 100px 1fr;
    grid-template-rows: auto 200px auto;
}

.charts {
    grid-area: charts;
}

.task {
    grid-area: task;
}
