.container {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 12px;
    grid-auto-rows: 20px;
}

.legend-item {
    display: grid;
    grid-template-areas: "color . label";
    grid-template-columns: 20px 8px auto;
}

.color-square {
    grid-area: color;
    border-radius: 2px;
}

.label {
    grid-area: label;
}
